<!DOCTYPE html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>КРС</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#712cf9">
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование пользователя</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="photo" class="avatars"/>

                <input type="text" id="fio" placeholder="ФИО" class="form-control mb-2">
                <input type="date" id="birthday" placeholder="День рождения" class="form-control mb-2">
                <input type="tel" id="phone" placeholder="Телефон" class="form-control mb-2">
                <input type="email" id="email" placeholder="Email" class="form-control mb-2">
                <input type="password" id="password" placeholder="Пароль" class="form-control mb-2">
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" placeholder="Фото профиля" class="form-control mb-2">
                <input type="text" id="avatarStr"  style="display: none;">
                <input type="checkbox" id="activated" class="form-check-input mb-2 mt-2">
                <label class="form-check-label" for="activated">Активирован?</label>
                <select class="form-select" id="role">
                    <option value="" disabled selected>Выберете роль пользователя</option>
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.nameLocalization}"></option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="save()">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">КРС</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li><a href="/admin" class="nav-link px-2 text-secondary">Пользователи</a></li>
                    <li><a href="/book" class="nav-link px-2 text-white">Справочники</a></li>
                    <li><a href="/animal" class="nav-link px-2 text-white">Животные</a></li>
                    <li><a href="/sick" class="nav-link px-2 text-white">Болезни</a></li>
                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-danger" type="button" onclick="location.href = '/logout'">Выход</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container mt-5">
        <h1 class="mb-4">Пользователи</h1>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal" onclick="selectRow(null)">
            Создать
        </button>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#createModal" id="edit" disabled>
            Редактировать
        </button>
        <button class="btn btn-danger" id="delete" onclick="remove()" disabled>Удалить</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>День рождения</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:value="${user.id}" onclick="selectRow(event)"  style="cursor: pointer;">
                <td th:text="${user.id}"></td>
                <td th:text="${user.fio}"></td>
                <td th:text="${user.birthday}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role.nameLocalization}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer class="container">
        <p class="float-end"><a href="#">Вернуться наверх</a></p>
        <p>© 2023 Dev</p>
    </footer>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="js/adminScript.js"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>